@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    background-image: url(../imagens/pexels-rok-romih-4175158.jpg);
    background-repeat: no-repeat;
    
    
}
main{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 252px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    display: block;
    background: url(../imagens/pexels-mithul-varshan-3023211\ \(1\).jpg)  left center  no-repeat;
    background-size: cover;
    height: 200px;
    
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;

}
div#formulario > p{
    font-size: 0.8em;
    font-weight: 500;
}

form > div.campo{
    width: 100%;
    height: 40px;
    background-color: #5f2c82;
    border-radius: 5px;
    margin: 5px 0px;
}
form > div.campo > label{
    display: none;
}
form > input[type=submit]{
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(14, 99, 92);
    color: white;
    font-size: 1em;
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: rgb(22, 156, 145);
}

form > a.botao {
    display: block;
    width: 100%;
    font-size: 1em;
    height: 40px;
    padding-top:6px;
    font-weight: 400;
    text-align: center;
    background-color: white;
    color: rgb(9, 66, 62);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    border: 1px solid rgb(9, 66, 62);
}
form > a.botao:hover{
    background-color: rgb(75, 185, 176);
    font-weight: 600;
    color: rgb(1, 39, 27);
}

