@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    background-image: url(../imagens/pexels-rok-romih-4175158.jpg);
    background-repeat: no-repeat;
    
    
}
main{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    display: block;
    background: url(../imagens/pexels-mithul-varshan-3023211\ \(1\).jpg)  left center  no-repeat;
    background-size: cover;
    height: 200px;
    
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

